.container{
    max-width:1360px
}
.text-center{
    text-align: center;
}
.clr-red{
    color:tomato;
}
.clr-green{
    color:rgb(55, 214, 7)
}
button, input{
    outline: none !important;
}
label{
    width:100%;
    cursor: pointer;
    margin: 0;
}
label:hover .parent {
    background-color: #46d668 !important;
}
.MuiTextField-root{
    max-width: 160px;
}
.MuiTextField-root label{
   display: none;
}
.MuiTextField-root,
.MuiFormControl-marginNormal,
.MuiInput-formControl{
    margin: 0 !important;
}
.show-btn{
    display:none;
    cursor: pointer;
    color: rgb(38, 23, 243);
}
.hide{
    display: none ;
}
 @media screen and (max-width: 767px) {
     .hide-for-mobile{
         display: none;
     }
     .show-for-mobile{
        display: block;
     }
     h5{
        font-size: 16px;
     }
 }